@model IEnumerable<BigSchool.Models.Phim>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center; margin-top:50px">Đây là trang Admin</h1>
